#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.app-container {
  display: flex;
  flex-direction: column; 
  height: 100%;
  width: 100%;
}

.app-header {
  background-color: #3f51b5;
  color: white;
  padding: 10px 20px;

  display: flex;           
  align-items: center;
  justify-content: flex-start; 

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
}

.app-header h1 {
  margin: 0;
  font-size: 2em;
}

.controls-container {
  background-color: #3f51b5;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  flex-shrink: 0;
}

.select-group label {
  margin-right: 8px;
  font-weight: bold;
  color: #ddd;
}

.select-group {
  margin-bottom: 5px; 
}

.select-group select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

/* MAPA */
.map-container {
  flex-grow: 1;
  width: 100%;
  background-color: white; 
  box-sizing: border-box;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-left: 2px solid #ccc;
  background-color: white; 
}



@media (max-width: 768px) {
  
  .app-header {
    padding: 5px 10px; 
    min-height: auto;
  }
  
  .app-header h1 {
    font-size: 1.2rem; 
    margin: 0;
  }

  .controls-container {
    flex-direction: column;
    align-items: stretch;
    gap: 6px;
    padding: 8px 15px; 
  }

  .controls-container h3 {
    text-align: center;
    margin: 0;
    font-size: 0.9rem; 
  }

  .select-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0; 
  }

  .select-group label {
    margin-bottom: 1px; 
    font-size: 0.8rem;
    color: #eee; 
  }

  .select-group select {
    width: 100%;
    padding: 6px;
    font-size: 0.9rem; 
    height: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}